.cell {
    width: 10px;
    height: 10px;
    display: flex;
    align-content: center;
    border: 1px solid black;
    transition-property: background-color;
    transition-duration: 0.1s
}

.cellContent {
    margin: auto;
    pointer-events: none;
}

.vacant {
    background-color: transparent;
}

.alive {
    background-color: green;
}