._2Xr1obAM2k3VXRjrS7IbWN {
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: center;
    margin-top: 12px;
}

._3-RtFN54dVsXlq9e3WHkQj {
    display: flex;
    flex-direction: column;
}

.lcHZXbA6Rdby-8spt5Pcs {
    margin-bottom: 20px;
}

._35-Hf6YB2cskTH9fksmjf6 {
    width: 120px;
    align-self: center;
}
._2C6MnuEDud7K1RTa5rnGSL {
    display: flex;
}

.W11V8yUVQT5ran6TTVMA3 {
    background-color: rgb(226, 226, 226);
}

.YUhawGG3ztgcL3B5Pgk82 {
    margin-bottom: 20px;
}

._3E3oleAK40fRaPMm7dbKjx input {
    cursor: pointer;
}
._2VACeTYbU9mZTkfT3Tx3H {
    display: flex;
    border: 2px solid;
    border-color: black;
    width: 620px;
    height: 620px;
    overflow: scroll;
}
.cSOhWIQ_E907mQFBy70ep {
    width: 10px;
    height: 10px;
    display: flex;
    align-content: center;
    border: 1px solid black;
    transition-property: background-color;
    transition-duration: 0.1s
}

.nrnxLIk1QJeFn8TKj6n82 {
    margin: auto;
    pointer-events: none;
}

._3VCKPbyzVET-RYN8uXT9Aa {
    background-color: transparent;
}

._3BSIp3DHW-ZpbgLrMirshb {
    background-color: green;
}
._2szXhqIY5cy3RI2laMkPmG {
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: center;
    margin-top: 12px;
}

._282XFWHb1biZYaUPj_5mnh {
    display: flex;
    flex-direction: column;
}

._10p5_LSOxeifHWwJPu74ZC {
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: center;
}

._36Ndriu8_L9LwkLRF1qnwp {
    display: flex;
    flex-direction: column;
}

._3lSuc71cQTdRztPDcpah_0 {
    align-items: center;
    /* font-family: Arial, Helvetica, sans-serif; */
}

button {
    background-color: transparent;
    border: 1px solid gray;
    border-radius: 0.2rem;
    cursor: pointer 
}


._1V5rM79cyqIgfuYAYWEtKe {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color:green;
    height: 3rem;
}

._3LQAq-eP394IQqigfZ3ft9 {
    height: 2rem;
    margin: 0 1rem;
    align-self: center;
    background-color: white;
}

.W1vrLk7fYeIfs1n9G1W08 {
    margin: 0 1rem;
    align-self: center;
    color: white;
}
